/* Basic Conditions */

body {
    background-color:aquamarine;
}

h1{
    text-align: center;
    font-size: 50px;
    font-family: "Times New Roman";
}

p{
    text-align: center;
}

.buttons_and_form{/*CHECK THIS OUT*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px; /* space between the grids, so I can maybe change this later */
    padding: 40px;
}
/* Buttons*/

button{

    text-align: center;
    border-radius: 100%;
    font-size: 16px
}

.circular-button{
    background-color: #deb887;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    align-items: center;
}

.circular-button:hover {
    background-color: #88733d;
}

.button-grid {
    background-color: #efdcc1;
    display: inline-grid;
    grid-template-columns: repeat(5, 80px);
    gap: 10px;
    padding: 15px
}

/*#my-button:clicked*/

/* Input Form */
input {
    border-radius: 1px;
    padding: 3px 3px;
}

form {
    display: grid;
    gap: 5px;
}

.form-group{
    max-width: 700px;
    display: grid;
    background-color: #88733d;
}

.form-total{ /*CHECK THIS OUT*/
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f5f5dc;
    padding: 20px;
    border-radius: 8px;
}