/* Basic Conditions */

header{
    background:rgb(1, 152, 109);
    color:rgb(35, 8, 47);
    padding:1rem 1.25rem;
    display:flex; 
    align-items:center; 
    justify-content: center;
}

body {
    background-color:rgb(35, 8, 47);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 100px;
    font-family: "Tangerine";
    color: rgb(35, 8, 47);
    margin-top: 0.15em;
    margin-bottom: 0.15em;
}

p{
    text-align: center;
    color: rgb(1, 152, 109);
}

.buttons_and_form{/*review this*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px; /* space between the grids, so I can maybe change this later */
    padding: 40px;
}
/* Buttons*/

button{
    font-size: 16px;
}

.circular-button{
    background-color: #deb887;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-button:hover {
    background-color: #88733d;
}

.circular-button.selected {
    background-color: rgb(1, 152, 109);
}

.subbutton {
    font-size: 20px;
    background:rgb(1, 152, 109); 
    color:rgb(35, 8, 47); 
    border:1px solid rgba(255, 255, 255, 1);
    padding:.6rem 1rem; 
    border-radius:10px; 
    font-weight:600; 
    cursor:pointer;
    margin-top: 2px;
}

.button-grid {
    background-color: #efdcc1;
    display: inline-grid;
    grid-template-columns: repeat(10, 80px);
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
}

/* Input Form */
input {
    border-radius: 1px;
    padding: 3px 3px;
}

form {
    display: grid;
    gap: 5px;
}

.form-group{
    max-width: 700px;
    display: grid;
    background-color: #88733d;
    border-radius: 8px;
    padding: 5px;
}

.form-total{ 
    width: 400px;
    display: flex; 
    flex-direction: column; /*Review this*/
    gap: 15px;
    background-color: #f5f5dc;
    padding: 20px;
    border-radius: 8px;
}