/* Basic Conditions */

header{
    background:rgb(2, 194, 140);
    color:rgb(35, 8, 47);
    padding:1rem 1.25rem;
    display:flex; 
    align-items:center; 
    justify-content: center;
}

body {
    background-color:rgb(35, 8, 47);
    margin: 0;
}

h1{
    text-align: center;
    font-size: 120px;
    font-family: "Tangerine";
    font-weight: 1000;
    color: rgb(35, 8, 47);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

p{
    text-align: center;
    color: rgb(2, 194, 140);
}

.spellInfo{
    font-size: 50px;
    font-family: "Lucida Console";
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

.canvas-and-subbuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallerTableButton {
    margin-left: auto;
}

.largerTableButton {
    margin-right: auto;
}

#tableWithButtons{
    display: flex;
    align-items:center; 
    justify-content: center;
    flex-direction: row;
}

.buttons_and_form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px; /* space between the grids, so I can maybe change this later */
    padding: 40px;
}
/* Buttons*/

button{
    font-size: 16px;
    width: 200px;
}

.subbutton {
    font-size: 20px;
    background:rgb(2, 194, 140); 
    color:rgb(35, 8, 47); 
    border:1px solid rgba(255, 255, 255, 1);
    padding:.6rem 1rem; 
    border-radius:10px; 
    font-weight:600; 
    cursor:pointer;
    margin-top: 2px;
}

/* Input Form */
input {
    border-radius: 1px;
    padding: 3px 3px;
}

form {
    display: grid;
    gap: 5px;
    margin-top: 100px; /*The space between the bottom questions and the rest of the board and buttons*/
}

.form-group{
    max-width: 700px;
    display: grid;
    background-color: #88733d;
    border-radius: 8px;
    padding: 5px;
}

.form-total{ 
    width: 400px;
    display: flex; 
    flex-direction: column;
    gap: 15px;
    background-color: #f5f5dc;
    padding: 20px;
    border-radius: 8px;
}

/*Use this later to edit how the canvas looks*/
#node-canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}

#node-canvas canvas {
    display: block;
    border-radius: 20px;
}